@page
@model MyBLog.Pages.Blogs.IndexModel
@{
}


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blogs)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.Id">Edit</a></td>
                <td><a class="btn btn-danger" asp-page="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
            
        }
    </tbody>
</table>